# App
# - Port. Default
PORT=3000
# - Env. Default
NODE_ENV=development

# Database
# - Url. String connection structure: postgres://<user>:<password>@<hostname>:<port>/<database>. Default
DATABASE_URL=postgres://sanipatitas-user:sanipatitas-password@host.docker.internal:5432/sanipatitas-db

# Better auth
# - Secret. Generate a random string for production use
BETTER_AUTH_SECRET=
# - Url. Url of the api server. Example: https://sanipatitas.martindotpy.dev. Default
BETTER_AUTH_URL=http://localhost:1420

# Admin user
# - Email. Email of the initial admin user
ADMIN_EMAIL=
# - Password. Password of the initial admin user
ADMIN_PASSWORD=

# Redis
# - Url. String connection structure: redis://<hostname>:<port>. Default
REDIS_URL=redis://host.docker.internal:6379
