# Database
# - Username. Default
QUARKUS_DATASOURCE_USERNAME=sanipatitas-user
# - Password. Default
QUARKUS_DATASOURCE_PASSWORD=sanipatitas-password
# - Url. String connection structure: vertx-reactive:postgresql://<hostname>:<port>/<database>. Default
QUARKUS_DATASOURCE_REACTIVE_URL=vertx-reactive:postgresql://host.docker.internal:5432/sanipatitas-db?loggerLevel=OFF

# Redis
# - Url. String connection structure: redis://<hostname>:<port>. Default
QUARKUS_REDIS_HOSTS=redis://host.docker.internal:6379

# Jwt
# - Public key location. Default
MP_JWT_VERIFY_PUBLICKEY_LOCATION=http://host.docker.internal:3000/api/auth/jwks
# - Issuer. Default
MP_JWT_VERIFY_ISSUER=http://localhost:4321
# - Audience. Default
MP_JWT_VERIFY_AUDIENCES=http://localhost:4321
