---
import Layout from "@sanipatitas/desktop/core/components/layouts/Layout.astro"
import { publicBaseUrl } from "@sanipatitas/desktop/core/configuration/app-configuration"
import { isProd } from "@sanipatitas/shared/app-context"
import { cn } from "@sanipatitas/ui/lib/tailwind"
import { ScalarComponent } from "@scalar/astro"
import { buttonVariants } from "@sanipatitas/ui/components/ui/button"
import { ThemeFavicon } from "@sanipatitas/desktop/pages/_docs/_theme-favicon"

// Context
export const prerender = true

// Redirect if the build is in production
if (isProd) {
  return Astro.redirect("/404", 302)
}
---

<Layout
  title="OpenAPI Documentation"
  description="Explore the OpenAPI documentation for all services."
>
  <a
    href="/"
    class={cn(
      buttonVariants({ size: "icon-sm", variant: "ghost" }),
      "absolute z-100"
    )}
  >
    <ThemeFavicon client:load />
  </a>

  <ScalarComponent
    configuration={{
      theme: "deepSpace",
      sources: [
        {
          title: "Auth",
          url: `${publicBaseUrl ?? ""}/api/auth/openapi.json`,
        },
        {
          title: "Patient",
          url: `${publicBaseUrl ?? ""}/api/patient/openapi.json`,
        },
        {
          title: "Appointment",
          url: `${publicBaseUrl ?? ""}/api/appointment/openapi.json`,
        },
      ],
      mcp: {
        disabled: true,
      },
      telemetry: false,
      hideDarkModeToggle: true,
      showDeveloperTools: "never",
      operationsSorter: (a, b) => {
        const methodOrder = ["get", "post", "patch", "put", "delete"]
        const methodComparison =
          methodOrder.indexOf(a.method) - methodOrder.indexOf(b.method)

        if (methodComparison !== 0) {
          return methodComparison
        }

        return a.path.localeCompare(b.path)
      },
    }}
  />
</Layout>

<script>
  import { $ } from "@sanipatitas/ui/lib/dom-selector"

  document.addEventListener("DOMContentLoaded", () => {
    const $fallback = $<HTMLDivElement>("[data-draggable-fallback]")

    if (!$fallback) {
      return
    }

    $fallback.classList.add("ml-20")
    $fallback.classList.add("macos:ml-30")
  })
</script>
