global
  log stdout format raw local0
  maxconn 4096

defaults
  log global
  mode http
  option httplog
  option dontlognull
  timeout connect 5000
  timeout client 50000
  timeout server 50000

frontend http_front
  bind *:80

  acl is-api-auth path_beg /api/auth
  acl is-api-core path_beg /api/core

  use_backend auth-backend if is-api-auth
  use_backend core-backend if is-api-core

  default_backend core-backend

backend auth-backend
  server auth host.docker.internal:3000 check inter 10s fall 3 rise 2

backend core-backend
  server core host.docker.internal:8080 check inter 10s fall 3 rise 2
